#TitleBar{
    background-color: rgb(51,51,51);
    width: 100%;

}

#TitleBar-right{
    float: right;
    margin-left: auto;
    -webkit-app-region:no-drag;
    display: flex;
    flex-direction: row;
}

.TitleBar-left{
    -webkit-app-region: no-drag;
}

.TitleBar-ButtonIcon{
    stroke:rgb(150,150,150);
    stroke-width: 1;
    fill:none;
    shape-rendering: crispEdges;
}

.TitleBar-Button{
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;
}

.TitleBar-Button:hover{
    background-color: rgba(150,150,150,0.2);
}

.TitleBar-Button:hover .TitleBar-ButtonIcon{
    stroke:white;
}

#TitleBar-CloseButton:hover{
    background-color: red;
}
