body{

    width:100%;
    height:100%;
    overflow-x:hidden;
    margin:0;
    
}

button:focus{
    outline:none;
}

*{
    color:white;
}

#TitleBar{
    -webkit-app-region:drag;
}
#TitleBar{
    display:flex;
    flex-direction: row;
}


.TitleBar-ButtonsRight{
    margin-left: auto;
}
